a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
}

h1 {
  color: #66BFBF;
  margin: 50px auto 0;
  font-family: 'Sacramento', cursive;
  font-size: 5.625em;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  padding-bottom: 10px;
}

hr {
  border: 0;
  border-top: 10px dotted #78938A;
  width: 4%;
  margin: 100px auto;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

p {
  line-height: 2;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 40px 0 20px;
}

.btn {
  background: #11cdd4;
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.c1 {
  position: absolute;
  right: 300px;
  top: 40px;
}

.c2 {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.contact {
  margin: 40px auto 60px;
  width: 40%;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.my-intro {
  width: 30%;
  margin: auto;
}

.middle-container {
  margin: 100px 0;
}

.propic {
  width: 200px;
  height: 200px;
  margin-top: 50px;
}

.secondhead {
  font-size: 1.875rem;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
}

.skill1 {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.skill2 {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.sp1 {
  text-decoration: underline;
}

.top-container {
  background-color: #EAF6F6;
  position: relative;
  margin: 0;
  padding-top: 100px;
}
